@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #6b4092 0%, #404f96 100%);
  min-height: 100vh;
  overflow-x: hidden;
  cursor: none; /* Hide default cursor for custom one */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

/* Utility for text selection color */
::selection {
  background: #f2e9ff;
  color: #6b4092;
}
